@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/SF-Pro.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Pro H';
    src: url('/assets/SF-Pro.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Pro P';
    src: url('/assets/SF-Pro.ttf') format('truetype');
}